body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
  background-color: red;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
}

.test {
  color: red
}